.content {
    margin-top: 54px;
}

.header {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.left-title {
    width: 80px;
    color: #fff;
    font-size: 18px;
    float: left;
}

.right-title {
    width: 150px;
    text-align: right;
    float: right;
    color: #fff;
}

.quiz-body {
    margin-top: 15px;
    padding-bottom: 50px;
}

.option-block-container {
    margin-top: 20px;
    max-width: 420px;
}

.option-block {
    padding: 10px;
    background: aliceblue;
    border: 1px solid #84c5fe;
    margin-bottom: 10px;
    cursor: pointer;
}

.result-question {
    font-weight: bold;
}

.result-item{
    display: flex;
    flex-direction: column;
}

.c-wrong {
    margin-left: 20px;
    color: #ff0000;
}

.c-correct {
    margin-left: 20px;
    color: green;
}

.last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}


.hide{
    display: none;
}
.show{
    display: block;
}

.option-block {
    /* ... Autres styles ... */
    position: relative; /* Ajoutez cette ligne pour pouvoir positionner l'élément enfant */
}

#optionval {
    position: absolute;
    width: 100%;
    top: 10px;
    bottom: 0;
    left: 33px;
    right: 0;
    margin: auto;
}
/*  */
.option-block-container {
    max-width: 420px; /* garde la largeur max si tu veux, mais surtout... */
    width: 100%;      /* ...que ça prenne la largeur dispo */
}
