.hide{
    display: none;
}
.show{
    display: flex;
}
/* //////////////////////////////////////////////////////// */
h3{
    text-align: center;
    font-size: 1.5rem;
}
.deck0-nav button {
    padding: .5rem;
    border-radius: 15px;
    border: 1px solid black;
    font-size: large;
    letter-spacing: .5px;
}

.deck0-nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.deck0-nav button:hover {
    color: white;
    background-color: rgb(32, 61, 138);
}

.active-tab{    
    background: linear-gradient(270deg, #388285, #925832, #81228d, #923e18);
    background-size: 400% 400%;
    padding: .5rem;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    animation: gradientMove 8s ease infinite;
    display: flex;
    align-items: center;
}

/* .deck0-nav .active-tab {
    background: linear-gradient(270deg, #244b2f, #967205, #391fca, #a84c05);
    background-size: 400% 400%;
    padding: .5rem;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    animation: gradientMove 8s ease infinite;
    display: flex;
    align-items: center;
} */

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* //////////////////////////////////////////////////////// */